.DS_Store

*.war
*.jar
bin/
build/
tmp/
.gradle/
gradlew
gradlew.bat
gradle/
out/

.idea/
*.iml
*.log
version.txt

.settings/
.metadata
*.class
.project
.externalToolBuilders/
*.launch
.classpath
.target

*.tmp
*.bak
*.swp
*~.nib
.loadpath
.recommenders
*.bin
*.lock
cache.properties


